.container {
    /* width: 1200px; */
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(136, 6, 6) ;
}
.description{
    margin: 0 auto;
    padding: 30px ;
    width: 750px;
    font-size: 19px;
    

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
